<!DOCTYPE html>
<html>
<head>
    <title>Gestionar Participants</title>
    <script>
        function validarNombre() {
            var nom = document.getElementById('nom').value;
            var regex = /^[a-zA-ZÀ-ÿ ]+$/;
            if (!regex.test(nom)) {
                alert("El nombre del participante solo puede contener letras y espacios.");
                return false; // Evita que el formulario se envíe
            }
            return true; // Permite que el formulario se envíe
        }
    </script>
</head>
<body>
    <h2>Gestionar Participantes</h2>
    <form method="POST" action="/participants" onsubmit="return validarNombre()">
        <label for="nom">Nombre del participante:</label>
        <input type="text" id="nom" name="nom" required>
        <button type="submit">submit</button>
    </form><br><br>
    <table>
        {% for participant in participants %}
        <tr>
            <td><strong>&nbsp;&nbsp;{{ participant }}</strong></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>