
<!DOCTYPE html>
<html>
<head>
    <title>Puntuacions</title>
</head>
<body>
    <h2>Ranking de Jugadors</h2>
    <table>
        <thead>
            <tr>
                <th>Posición---</th>
                <th>Jugador---</th>
                <th>Punts</th>
            </tr>
        </thead>
        <tbody>
            {% for rank, jugador in ranking.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ jugador['nom'] }}</td>
                <td>{{ jugador['punts'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>