<!DOCTYPE html>
<html>
<head>
    <title>Puntuación</title>
</head>
<body>
    <h1>Puntuación</h1>

    <h2>Ranking Actual</h2>
    <table border="1">
        <tr>
            <th>Posició</th>
            <th>Jugador</th>
            <th>Puntuació</th>
        </tr>
        {% for rank, jugador in ranking.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ jugador['nom'] }}</td>
                <td>{{ jugador['punts'] }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>